<!DOCTYPE HTML>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{title}} - 404</title>
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css" />
</head>
<body>

<div id="page">
	<div id="header">
        <h1>{{title}}</h1>
        <h2>Store. Share. Discover</h2>
		<div id="loginbox">
			<a href="{{ url }}">{{ url_linktext }}</a> {{user.nickname}}
		</div><!--/loginbox-->
	</div><!--/header-->
</div> <!--/page -->

<div id="contentwrapper">
	<div class="innertube">
		<div id="welcomepage">
			<p><h2>	{{ errormsg }}</h2></p>
		</div> <!--/welcomepage -->
	</div> <!--/innertube-->
</div> <!-- /contentwrapper -->

<div id="footer">
	<h2>{{year}} &copy; {{title}}. Powered by <h2> <img src="{{appengineimage}}" alt="{{appenginealt}}" />
</div> <!-- footer -->

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/script.js"></script>

</body>
</html>
