<!DOCTYPE HTML>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{title}} - About</title>
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css" />
</head>
<body>

<div id="page">
	<div id="header">
        <h1>{{title}}</h1>
        <h2>Store. Share. Discover</h2>
		<div id="loginbox">
			<a href="/">Back to Home</a>
		</div><!--/loginbox-->
	</div><!--/header-->
</div> <!--/page -->

<div id="contentwrapper">
	<div class="innertube">
		<div id="welcomepage">
			<p><h2>	About </h2></p>
			<p>
			{{title}} is used for storing url online.
			I am happy to release version 2 of {{title}} with changes</p> 
			{{title}} uses gmail account credential for login purposes only.
			<p>Thank you.

			<em>See changelog</em></p><br/>
			<p>Feel free to use and share with {{title}}, and report bugs to <a href="emailto:godfatherabhi@gmail.com">Me</a>
			Find source code of {{title}} <a href="{{gitlink}}">Here</a>
			</p><br/>
			<div style="font-size: 14px;">
				<p>Changelog</p>
			<ul>
				<li>Updated CSS style</li>
				<li>Form validation</li>
				<li>Bookmark updatation</li>
				<li>Cleaned code with managed source structure</li>
			</ul>
			<br/>
			<p>Todo :)</p>
			<ul>
				<li>Send link to friends using e-mail</li>
				<li>Export / Import links </li>
				<li>Bugfixing</li>
			</ul>
			<br/>
			<p>Credit</p>
			<p>
			<ul>
				<li><a href="http://tutorialzine.com">Tutorialzine</a></li>	
				<li><a href="http://jasonlarose.com/blog/110-free-classy-social-media-icons">110 Free Classy Social Media Icons by Jason LaRose</a>
</li>
				<li><a href="http://www.bitbucket.org">Bitbucket</a></li>
				<li><a href="http://google.com">Google</a></li>
				<li><a href="http://python.org">Python</a></li>
			
			</ul>
			</p>
			</div>
		</div> <!--/welcomepage -->
	</div> <!--/innertube-->
</div> <!-- /contentwrapper -->

<div id="footer">
	<h2>{{year}} &copy; {{title}}. Powered by <h2>
	 <img src="{{appengineimage}}" alt="{{appenginealt}}" />
</div> <!-- footer -->

</body>
</html>
