<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css" />
	<script language="javascript" src="assets/js/motionpack.js"></script>
</head>
<body>

<div id="page">
	<div id="header">
        <h1>{{title}}</h1>
        <h2>Store. Share. Discover</h2>
		<div id="loginbox">
			<a href="/about">About</a>
			<a href="{{ url }}">{{ url_linktext }}</a> {{user.nickname}}
		</div><!--/loginbox-->
	</div><!--/header-->
</div> <!--/page -->

<div id="contentwrapper">
	<div class="innertube">
		{% if user %}
		<div id="addbookmarkbox">
			<p>
				<input id="addbookmarks" type="button" onClick="toggleSlide('formdiv');" class="bluebutton" value="Add a bookmark">
			</p>
		</div> <!--/addbookmarkbox -->

		<div style="padding-left: 290px;width: 360px;">
		<div id="formdiv" style="border:1px solid grey;border-radius: 5px 5px 5px 5px;display:none;overflow:hidden;height: 95px; padding-top: 20px; padding-left:25px;">
		<form onSubmit="return ValidateForm();" action="/addnew" method="post" >
			<label for="shortDescription">Description </label>
			<input type="text" name="description" id="description" length="150"/><br/>
			<label for="url">Link</label></td>
			<input type="text" name="url" id="url" length="300" /><br/>
			<div style="padding-left:100px;">
				<input id="add" type="submit" value="Add" class="bluebutton" />
				<input id="reset" type="reset" value="Reset" class="bluebutton" />
			</div>
		</form>
		</div>
		</div>

		<div>
			{% if numberlnks %}
			<p class="note">
				You have a total number of {{numberlnks}}   Links.
			</p>

			<ul class="bookmarklist">
			{% for lnk in lnks %}
			<li id="todo-{{lnk.key.id}}" class="lnklist">
				<div class="text"> {{lnk.description}} </div>
				<div class="subtext" ><a id="{{lnk.key.id}}" href="{{lnk.url}}" target="_blank">{{lnk.url}}</a></div>
				<div class="actions">
					<a href="/delete?id={{lnk.key.id}}" class="delete" onClick="return confirm_delete();">Delete</a>
					<a href="" class="edit">Edit</a>
					<!--<iframe src="http://www.facebook.com/plugins/like.php?href={{lnk.url}}&amp;show_faces=false&amp;" scrolling="no" frameborder="0" 							style="border:none; width:53px; height:28px;overflow:hidden;"></iframe>-->
					
					<iframe src="//www.facebook.com/plugins/like.php?href={{lnk.url}};send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" 
					scrolling="no" frameborder="0" 
					style="border:none; overflow:hidden; width:90px; height:21px;"
					allowTransparency="true"></iframe>
					<a href="http://twitter.com/share" class="twitter-share-button" 
						data-url="{{lnk.url}}" 
						data-text="{{lnk.description}}" 
						data-count="none">Tweet</a>
					<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
				</div>			
			</li>
			{% endfor %}
			</ul>
			
			{% else %}
				<p class="note"> You have not stored any links. Start sharing by using {{title}}.
			</div>
			{% endif %}
			<div>
				<p class="pagecount">
				{% for page_count in range_page %}
					<a href="/index?page={{page_count}}">{{page_count}}</a>
				{% endfor %}
				</p>
			</div>
		{% else %}
	
		<div id="welcomepage">
			<p>Login with your Google Account to create new bookmarks for your links and urls. </p>
			<p>and share them with your friends using Facebook and Twitter.</p>
			<br/>
			<p>
			{{title}} is simple POC that shows integration of Google AppEngine and Facebook, Twitter
			<br/>
			Please see <a href="/about">About</a> for detail.		
			</p>
			You can find source of {{title}} <a href="{{gitlink}}">here</a>
			Please fill free to file a bug / suggestion <a href="{{gitbug}}">here</a>
		{% endif%}
		</div> <!--/welcomepage -->
	</div> <!--/innertube-->
</div> <!-- /contentwrapper -->

<div id="footer">
	<h2>{{year}} &copy; {{title}}. Powered by <h2>
	<img src="{{appengineimage}}" alt="{{appenginealt}}" />
</div> <!-- footer -->

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/script.js"></script>

</body>
</html>
