*{
	margin:0;
	padding:0;
	line-height: 1.5em;
}

html{
	background:url('../img/bg_tile.jpg');
}

body{
	background:url('../img/bg_vert.jpg') repeat-x;
	font:13px "Segoe UI","Lucida Sans Unicode",Arial,sans-serif;
	min-height:500px;
}

#page{
	width: 999px;
	margin:0 auto;
}

#header{
	position:relative;
	height:86px
}

#page h1{
	color:#fcfcfc;
	font-size: 18px;
	font-weight: normal;
	line-height: 44px;
}

#page h2,
#page h3 {
	color: #575B63;
	font-size: 16px;
	font-weight: normal;
	line-height: 42px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

#welcomepage {
	padding-top: 40px;
	color: #575B63;
	font-size: 16px;
	font-weight: normal;
	line-height: 42px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}


#loginbox{
	bottom: 0;
	height: 30px;
	padding: 0 25px 0 12px;
	position: absolute;
	right: -130px;
	text-indent: 7px;
	width: 250px;
	text-shadow: 1px 1px 0 #95999D;
}


#contentwrapper{
	float: left;
	width: 100%;
	min-height: 500px;
}

.innertube{
	margin: 140px; /*Margins for inner DIV inside each column (to provide padding)*/
	margin-top: 10px;
	margin-bottom: 10px;
}

#footer{
	bottom: 0;
	clear: left;
	height: 90px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.04);
	border: 1px solid rgba(0, 0, 0, 0.08);
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 3px 1px rgba(0, 0, 0, 0.02) inset, 0 1px 0 white;
	display: block;
	text-align: center;
	padding: 5px 0;
}

#footer h2{
	color: #575B63;
	font-size: 16px;
	font-weight: normal;
	line-height: 42px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}


a, a:visited {
	color: #4EA0E2;
	outline: none;
	text-decoration: underline;
}

a:hover {
	text-decoration:none;
}


/* main page */

#main {
	position:relative;
	margin:0 auto;
	width:960px;
	height: 500px;
	min-height: 100px;
}


.note {
	font-size:12px;
	font-style:italic;
	text-align: center;
	width:820px;
	margin-left: 60px;
	padding-top: 10px;
	padding-bottom: 5px;
}



/*list of bookmarks */

ul.bookmarklist {
	margin:0 auto;
	width:840px;
	position:relative;
}

ul.bookmarklist li {
	background-color:#F9F9F9;
	border:1px solid #EEEEEE;
	list-style:none;
	margin:6px;
	padding:6px 9px;
	position:relative;
	/* CSS3 text shadow and rounded corners: */
	text-shadow:1px 1px 0 white;	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}

ul.bookmarklist li:hover {
	border-color:#9be0f9;
	/* CSS3 glow effect: */
	-moz-box-shadow:0 0 5px #A6E5FD;
	-webkit-box-shadow:0 0 5px #A6E5FD;
	box-shadow:0 0 5px #A6E5FD;
}

.lnklist .text {
	color:#777777;
	font-size:1.4em;
	padding-left: 25px;
}

.lnklist .subtext {
	color:#777777;
	font-size: 1.0em;
	padding-left: 25px;
}
/* The edit and delete buttons */
	
.lnklist .actions {
	position:absolute;
	padding-left: 35px;
	right:7px; /*7px*/
	top:6px;
}

.lnklist .actions a {
	display:block;
	width:16px;
	height:16px;
	overflow:hidden;
	float:left;
	text-indent:-9999px;
	margin:3px;
}

.lnklist .actions a.edit {
	background:url("../img/edit.png") no-repeat center center;
} 

.lnklist .actions a.delete {
	background:url("../img/delete.png") no-repeat center center;
}

input[type="button"].bluebutton:hover, input[type="submit"].bluebutton:hover, input[type="reset"].bluebutton:hover {
    border:  1px  solid #B32D00;
	background: #CC3300;

    box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #FF7242;
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #FF7242;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #FF7242;
}


input[type="button"].bluebutton, input[type="submit"].bluebutton, input[type="reset"].bluebutton {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, Sans-serif;
	float: left;
	display: block;
	margin: 10px 10px 0 0;
	padding: 5px 7px;
	text-decoration: none;
	border: 1px solid #2177A5;
	background: #227bad;
	color: #fff;
	font-size: 13px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #3CA5D2;
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #3CA5D2;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #3CA5D2;
} 

#addbookmarkbox {
	height: 50px;
	width: 960px;
}

#addbookmarkbox p{
	padding-left:400px;
}

label {
	color:#777777;
	font-size: 1.0em;
	float: left;
	width: 70px;
}

input[type="text"] {
	float: left;
	width: 230px;
}

.editTodo {
	padding-left: 25px;
}

/* currently not implementing redirecting of messages these are two id for errormsg */
#error {
	border: 1px solid #B63434;
	background-color: #EC8E8E;
	margin-bottom: 10px;
	margin-left: 83px;
	padding-left: 4px;
	width: 82%;
}

#info {
        border: 1px solid #177914;
        background-color: #43D53E;
        margin-bottom: 10px;
	margin-left: 83px;
        padding-left: 4px;
        width: 82%;
}

.discardChanges {
	text-decoration: none;
	color: #C00 !important;
}

.saveChanges {
	text-decoration: none;
	color: #4DB209 !important;
}

.pagecount {
	font-size:13px;
	text-align: center;
	width:820px;
	margin-left: 60px;
	padding-top: 10px;
	padding-bottom: 5px;
	text-decoration: none;
}


